:root {
    text-rendering: optimizeLegibility;
}

a {
    font-weight: 700;
    color: var(--highlight-text-color);
    text-decoration: inherit;
}
a:hover {
    filter: brightness(0.85);
}

.p-dropdown {
    margin: 0.2rem 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: rgb(from var(--primary-color) r g b / 4%);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background: rgb(from var(--primary-color) r g b / 24%);
}

.p-inputtext {
    margin: 0.2rem 0;
}

.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
    background-color: var(--surface-0);
}

.p-menu .p-menuitem:not(.p-highlight):not(.p-disabled):hover > .p-menuitem-content {
    background-color: var(--surface-hover);
}
