:root {
    text-rendering: optimizeLegibility;
}

a {
    font-weight: 700;
    color: var(--highlight-text-color);
    text-decoration: inherit;
}
a:hover {
    filter: brightness(0.85);
}

.p-dropdown {
    margin: 0.2rem 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: rgb(from var(--primary-color) r g b / 4%);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
    background: rgb(from var(--primary-color) r g b / 24%);
}
